COMMENT_PORT=4322
COMMENT_DB_PATH=./data/comments.sqlite
COMMENT_ADMIN_TOKEN=change-me
COMMENT_IP_SALT=change-me-too
COMMENT_AUTO_APPROVE=false
COMMENT_ALLOWED_ORIGINS=http://localhost:4321,http://127.0.0.1:4321,https://blog.cyb1.org
